{% extends 'base.html' %}
{% block title %} Registration {% endblock title %}
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
{% block content %}

<section>
    <div class="inner-banner-w3ls py-5" style="height:1200px" id="home">
        <div class="container py-xl-5 py-lg-3">
            <!-- register  -->
            <div class="modal-body mt-md-2 mt-5">
                <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">Register Now</h3>
                <form method="post" enctype="multipart/form-data" action="{% url "pages:registration"%}" id="registerform">
                    {% csrf_token %}
                    

                        <div class="form-group">
                            <label class="col-form-label">First Name</label>
                            {{form.first_name}}
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Last Name</label>
                            {{form.last_name}}
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Username</label>
                            {{form.username}}
                            {% for key, errors in form.errors.items %}
                                {% for error in errors %}
                                    {% if 'username' in error %} 
                                        <div class="error">{{error}}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email</label>
                            {{form.email}}
                            {% for key, errors in form.errors.items %}
                            {% for error in errors %}
                                {% if 'email' in error %} 
                                <div class="error">{{error}}</div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Password</label><br/>
                            {{form.password1}}
                            
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Confirm-Password</label>
                            {{form.password2}}
                            {% for key, errors in form.errors.items %}
                                {% for error in errors %}
                                    {% if 'password' in error %} 
                                    <div class="error">{{error}}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        
                  
                    <button type="submit" class="btn button-style-w3" onclick="register_validation()">Register</button>
                    {% comment %} {% if form_err %}
                        {{form_err}}
                    {%endif%} {% endcomment %}


                    <p style="color:white">Already have an account?  <a style="margin:auto" href="{%url "pages:user_login" %}">Sign In</a></p>

                </form>
            </div>
            <!-- //register -->
        </div>
    </div>
</section>
    
{% comment %} <footer class="py-5">
    <div class="container py-xl-4 py-lg-3">
        <div class="row footer-grids">
            <div class="col-lg-2 col-6 footer-grid">
                <h3 class="mb-sm-4 mb-3 pb-lg-3">Home</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Index</a>
                    </li>
                    <li>
                        <a href="#about">About Us</a>
                    </li>
                    <li>
                        <a href="#services">Explore Properties</a>
                    </li>
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="{% url 'pages:contact' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 footer-grid">
                <h3 class="mb-sm-4 mb-3 pb-lg-3"> Company</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#find">Find a Property</a>
                    </li>
                    
                    <li>
                        <a href="#places">Popular Places</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 footer-grid footer-contact mt-lg-0 mt-4">
                <h3 class="mb-sm-4 mb-3 pb-lg-3"> Contact Us</h3>
                <ul class="list-unstyled">
                    <li>
                        +01(24) 8543 8088
                    </li>
                    <li>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 footer-grid text-lg-right">
                <ul class="list-unstyled">
                    <li>
                        <a href="#facts">Statistical Facts</a>
                    </li>
                    <li>
                        <a href="#find">Find a Property</a>
                    </li>
                    <li>
                        <a href="#testi">Testimonials</a>
                    </li>
                    <li>
                        <a href="#apps">Apps</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 footer-grid mt-lg-0 mt-4">
                <div class="footer-logo">
                    <h2 class="text-lg-center text-center">
                        <a class="logo text-wh font-weight-bold" href="index.html"><span
                                class="text-bl">Just</span>Estate</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</footer> {% endcomment %}
    
{% endblock content %}